.page__inner--log {
    &:after {
        content: none;
    }
}
.header__body {
    align-items: center;
}
.header--log {
    .header__content {
        background: transparent;
    }
}
.header__logOut {
    font-size: 26px;
    font-weight: 600;
    @media (max-width: 639px) {
        font-size: clamp(16px, 16px + 10*(100vw - 320px) / 320, 26px);
    }
}
.log-footer {
    padding-bottom: 40px;
}
.page-txt {
    font-size: 20px;
    font-weight: 500;
    line-height: 120%;
    @media (max-width: 639px) {
        font-size: clamp(16px, 16px + 4*(100vw - 320px) / 320, 20px);
    }
}
.card-anim {
    position: relative;
    z-index: 1;
    &:hover {
        &:before {
            clip-path: inset(0 0 0 0);
        }
    }
    &::before {
        content: "";
        display: block;
        position: absolute;
        z-index: -1;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        clip-path: inset(100% 0 0 0);
        background: #ffe457;
        transition: .3s linear;
    }
}
.item-form {  
    margin-bottom: 24px;
    [data-error] {
        font-size: 20px;
        font-weight: 500;
        color: #D61616;
        margin-top: 5px;
        @media (max-width: 1450px) {
            font-size: 16px;
        }
        @media (max-width: 639px) {
            font-size: 14px;
        }
    }
    [data-error]:empty {
        display: none;
    }
    input,textarea {
        color: #000000; 
        width: 100%;
        padding: 10px 0;
        border: none; 
    }
    input {      
        border-bottom: 2px solid #000000;
    }
    input,textarea, input::placeholder, textarea::placeholder {
        font-weight: 600;
        font-size: 30px;
        line-height: 130%;
        color: #000000;
        @media (max-width: 768px) {
            font-size: 26px;
        }
        @media (max-width: 639px) {
            font-size: clamp(20px, 20px + (26 - 20)*((100vw - 320px) /(640 - 320)), 26px);
        }   
    }
    input::placeholder, textarea::placeholder {
        color: rgba(#000000, .4);  
    }
    &--password {
        position: relative;
        &.show-eyeBtn {
            .item-form__eye {
                visibility: visible;
                opacity: 1;
            }
        }
        &.show-password {
            .item-form__eye {
                background-image: url(../img/icons/eye.svg)
            }
        }
    }
    &__eye {
        width: 38px;
        height: 30px;
        cursor: pointer;
        position: absolute;
        top: 15px;
        right: 0px;
        background: url(../img/icons/eye-slash.svg) center / contain no-repeat;
        visibility: hidden;
        opacity: 0;
        transition: all .3s linear;
    }
}
.section {
    margin-bottom: 180px;
    @media (max-width: 768px) {
        margin-bottom: 120px;
    }
    @media (max-width: 639px) {
        margin-bottom: 80px;
    }
}
.sec-top {
    margin-bottom: 40px;
    p {
        max-width: 547px;
        margin-top: 24px;
    }
}
.form {
    &__footer {
        margin-top: 60px;
        .btn-main {
            width: 100%;
            .btn-reset {
                width: 100%;
            }
        }
    }
}
.info-log {
    p {
        margin-bottom: 20px;
        text-align: center;
        @media (max-width: 992px) {
            max-width: 500px;
            margin-left: auto;
            margin-right: auto;
        }
    }
    &__contacts {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin: -20px;
        @media (max-width: 1450px) {
            margin: -10px;
        }
        @media (max-width: 480px) {
            flex-direction: column;
        }
        a, span {
            font-weight: 500;
            font-size: 25px;
            line-height: 150%;
            color: #000000;
            transition: 0.3s;
            position: relative;
            margin: 20px;
            @media (max-width: 1450px) {
                font-size: 16px;
                margin: 10px;
            }
        }
        a:after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -5px;
            width: 100%;
            height: 2px;
            background: #000000;
            opacity: 0;
            visibility: hidden;
            transition: 0.3s;
        }
        a:hover::after {
            opacity: 1;
            visibility: visible;
        }
    }
}
.log-p {
    min-height: 100vh;
    padding: 120px 0;
    background: url(../img/pages/login-bg.jpg) center / cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: 1250px) {
        padding: 84px 0;
    }
    @media (max-width: 639px) {
        min-height: calc(100vh - 55px);
    }
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .title-h1 {
        margin-bottom: 40px;
    }
    .form {
        margin-bottom: 60px;
    }
    &--forbidden {
        .title-h1 {
            display: flex;
            align-items: center;
            @media (max-width: 992px) {
                flex-direction: column;
                text-align: center;
            }
            &:before {
                content: "";
                display: block;
                flex: 0 0 60px;
                width: 60px;
                height: 60px;
                background: url(../img/icons/error-icon.svg) center/contain no-repeat;
                margin-right: 20px;
                @media (max-width: 992px) {
                    margin: 0 0 20px;
                }
                @media (max-width: 768px) {
                    flex: 0 0 50px;
                    width: 50px;
                    height: 50px;
                }
            }
        }
        .info-log {
            p {
                text-align: left;
                max-width: 100%;
            }
        }
    }
    &__inner {
        width: 100%;
        max-width: 1200px;
        padding: 80px 60px;
        background: #fff;
        @media (max-width: 1450px) {
            max-width: 1000px;
        }
        @media (max-width: 1250px) {
            max-width: 780px;
            padding: 60px 40px;
        }
        @media (max-width: 767px) {
            padding: 30px 20px;
        }
    }
    &__block {
        width: 100%;
        max-width: 800px;
        margin: 0 auto;
        @media (max-width: 1450px) {
            max-width: 700px;
        }
    }
}
.item-doc {
    padding: 24px 30px;
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 20px;
    align-items: center;
    border: 4px solid #000;
    margin-bottom: 24px;
    @media (max-width: 1250px) {
       padding: 20px;
       margin-bottom: 10px;
    }
    @media (max-width: 639px) {
        padding: 10px;
        grid-template-columns: 1fr;
    }
    &:last-child {
        margin-bottom: 0;
    }
    h5 {
        max-width: 700px;
        @media (max-width: 1250px) {
            max-width: 500px;
        }
    }
    &__action {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        span {
            font-size: 26px;
            font-weight: 600;
            @media (max-width: 1250px) {
                font-size: 20px;
            }
            @media (max-width: 639px) {
                font-size: clamp(16px, 16px + 10*(100vw - 320px) / 320, 20px);
            }
        }
        img {
            flex: 0 0 40px;
            width: 40px;
            height: 40px;
            object-fit: contain;
            margin-left: 20px;
            @media (max-width: 1250px) {
                flex: 0 0 24px;
                width: 24px;
                height: 24px;
                margin-left: 10px;
            }
            @media (max-width: 639px) {
                flex: 0 0 20px;
                width: 20px;
                height: 20px;
            }
        }
    }
}