*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

button:focus,
input:focus,
textarea:focus {
  outline: none;
}

input,
textarea {
  font-family: inherit;
}

textarea {
  width: 100%;
  background: none;
  border: none;
  resize: vertical;
  overflow: hidden;
}

textarea::-webkit-resizer {
  display: none;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  position: relative;
}

.marquee img {
  height: 154px;
  -o-object-fit: contain;
  object-fit: contain;
}

.header__body {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__content {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 92px;
  -webkit-transition: padding 0s;
  transition: padding 0s;
}

.footer {
  position: sticky;
  right: 0;
  padding-top: 580px;
  z-index: 1;
}

.page__inner {
  padding-bottom: 0 !important;
  position: relative;
  z-index: 10;
  background: #fff;
}

.page__inner::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  background: #ffe457;
}

.image-lazy {
  width: 100%;
}

.image-lazy img {
  width: 100%;
}

.footer {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.services {
  overflow: hidden;
}

video {
  display: block;
  width: 100%;
  max-width: 100%;
}

.media-cover {
  display: block;
  position: relative;
  overflow: hidden;
}

.media-cover iframe,
.media-cover img,
.media-cover video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.media-contain {
  display: block;
  position: relative;
  overflow: hidden;
}

.media-contain iframe,
.media-contain img,
.media-contain video {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  margin: auto;
}

.h3 {
  font-size: 32px;
  font-weight: 600;
  line-height: 1.2;
}

.h4 {
  font-size: 26px;
  font-weight: 600;
  line-height: 1.2;
}

/* h5, .page-txt {
    font-size: 20px;
    font-weight: 500;
    line-height: 120%;
    @media (max-width: 639px) {
        font-size: clamp(16px, 16px + 4*(100vw - 320px) / 320, 20px);
    }
} */

.card-anim {
  position: relative;
  z-index: 1;
}

.card-anim:hover:before {
  -webkit-clip-path: inset(0 0 0 0);
  clip-path: inset(0 0 0 0);
}

.card-anim::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  -webkit-clip-path: inset(100% 0 0 0);
  clip-path: inset(100% 0 0 0);
  background: #ffe457;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.item-form {
  margin-bottom: 24px;
}

.item-form [data-error] {
  font-size: 20px;
  font-weight: 500;
  color: #d61616;
  margin-top: 5px;
}

.item-form [data-error]:empty {
  display: none;
}

.item-form input,
.item-form textarea {
  color: #000000;
  width: 100%;
  padding: 10px 0;
  border: none;
}

.item-form input {
  border-bottom: 2px solid #000000;
}

.item-form input::-webkit-input-placeholder,
.item-form textarea::-webkit-input-placeholder {
  font-weight: 600;
  font-size: 30px;
  line-height: 130%;
  color: #000000;
}

.item-form input::-moz-placeholder,
.item-form textarea::-moz-placeholder {
  font-weight: 600;
  font-size: 30px;
  line-height: 130%;
  color: #000000;
}

.item-form input:-ms-input-placeholder,
.item-form textarea:-ms-input-placeholder {
  font-weight: 600;
  font-size: 30px;
  line-height: 130%;
  color: #000000;
}

.item-form input::-ms-input-placeholder,
.item-form textarea::-ms-input-placeholder {
  font-weight: 600;
  font-size: 30px;
  line-height: 130%;
  color: #000000;
}

.item-form input,
.item-form textarea,
.item-form input::placeholder,
.item-form textarea::placeholder {
  font-weight: 600;
  font-size: 30px;
  line-height: 130%;
  color: #000000;
}

.item-form input::-webkit-input-placeholder,
.item-form textarea::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
}

.item-form input::-moz-placeholder,
.item-form textarea::-moz-placeholder {
  color: rgba(0, 0, 0, 0.4);
}

.item-form input:-ms-input-placeholder,
.item-form textarea:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
}

.item-form input::-ms-input-placeholder,
.item-form textarea::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
}

.item-form input::placeholder,
.item-form textarea::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

.item-form--password {
  position: relative;
}

.item-form--password.show-eyeBtn .item-form__eye {
  visibility: visible;
  opacity: 1;
}

.item-form--password.show-password .item-form__eye {
  background-image: url(../img/icons/eye.svg);
}

.item-form__eye {
  width: 38px;
  height: 30px;
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 0px;
  background: url(../img/icons/eye-slash.svg) center/contain no-repeat;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.section {
  margin-bottom: 120px;
}

.sec-top {
  margin-bottom: 40px;
}

.sec-top p {
  max-width: 547px;
  margin-top: 24px;
}

.form__footer {
  margin-top: 60px;
}

.form__footer .btn-main {
  width: 100%;
}

.form__footer .btn-main .btn-reset {
  width: 100%;
}

.nav-btn {
  cursor: pointer;
}

.nav-btn svg {
  pointer-events: none;
}

.sec-border,
.primary-block {
  border: 3px solid #000;
  border-radius: 40px;
}

.sec-border {
  padding: 60px 0;
}

.sec-border--primary {
  background: #ffe457;
}

.primary-block {
  background: #ffe457;
  padding: 120px 0;
  position: relative;
  z-index: 1;
}

.first-sec {
  margin-top: 60px;
}

.page-content > *:first-child {
  margin-top: 0;
}

.page-content > *:last-child {
  margin-bottom: 0;
}

.page-content ul {
  margin: 0;
  padding: 0 0 0 30px;
}

.page-content ul li {
  list-style: disc;
}

.page-content h4,
.page-content h5,
.page-content p,
.page-content li {
  font-size: 26px;
  line-height: 1.2;
}

.page-content p,
.page-content li {
  font-weight: 500;
}

.page-content p {
  margin-bottom: 24px;
}

.btn {
  font-size: 32px;
  font-weight: 600;
  line-height: 1.18;
  padding: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
}

.btn svg {
  width: 33px;
  height: 37px;
  stroke-width: 2px;
  stroke: black;
  margin-left: 30px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.link-btn:hover span::before {
  opacity: 1;
}

.link-btn span {
  position: relative;
}

.link-btn span:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 3px;
  background: #000;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.primary-btn {
  padding: 23px 60px;
  border-radius: 60px;
  border: 3px solid black;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.primary-btn svg {
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
}

.primary-btn::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  -webkit-clip-path: inset(100% 0 0 0);
  clip-path: inset(100% 0 0 0);
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  background: #ffe457;
}

.primary-btn:hover::before {
  -webkit-clip-path: inset(0 0 0 0);
  clip-path: inset(0 0 0 0);
}

.primary-btn--yellow::before {
  -webkit-clip-path: inset(0 0 0 0);
  clip-path: inset(0 0 0 0);
}

.primary-btn--yellow:hover::before {
  -webkit-clip-path: inset(100% 0 0 0);
  clip-path: inset(100% 0 0 0);
}

.section-last {
  padding: 120px 0 120px;
  border: 3px solid #000;
  border-top: none;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  background: white;
  margin-top: -40px !important;
}

.page-wrap {
  padding-top: 95px;
  position: relative;
  z-index: 1;
}

.case-example__new--vid {
  margin-bottom: -1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
}

.case-example__new--vid video {
  z-index: 1;
}

.case-example__new--vid::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background: url("../img/pages/case/loading-icon.svg") no-repeat;
  background-size: 20px;
  -webkit-animation: rotateInf 2s infinite linear;
  animation: rotateInf 2s infinite linear;
  z-index: 0;
}

.works-card__img {
  padding-top: 68.75%;
  position: relative;
}

.works-card__img img {
  -webkit-transition: 0.6s ease-out;
  transition: 0.6s ease-out;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.works-card__img:hover img {
  -webkit-transition: 0.6s ease-out;
  transition: 0.6s ease-out;
}

.case__header .case-text__disc {
  font-size: 20px;
}

.case__header .case-text__disc a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.case__header .case-text__disc a:hover::before {
  opacity: 1;
}

.case__header .case-text__disc a:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 2px;
  background: #fff;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.case__header .case-text__disc a:after {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  margin-left: 4px;
  background: url(../img/svg/more.svg) center/16px no-repeat;
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.case__header {
  margin-top: 0;
}

.case__content > .case-text {
  margin-top: 0;
}

.modal {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  overflow: hidden;
  -webkit-transition: all 0.3s 0.1s ease-out;
  transition: all 0.3s 0.1s ease-out;
}

.modal.open {
  visibility: visible;
  opacity: 1;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.modal.open .modal__content {
  opacity: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: all 0.3s 0.1s ease-out;
  transition: all 0.3s 0.1s ease-out;
}

.modal .btn-main {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  bottom: 80px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 1000;
}

.modal .case__body {
  background-color: #fff;
}

.modal .case-cards {
  padding-top: 160px;
  margin-top: -1px;
  padding-bottom: 120px;
}

.modal .case__header .title-h1,
.modal .case__header .case-text__disc {
  color: #fff;
}

.modal-loading-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.modal-loading-icon svg {
  fill: #fff;
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  -webkit-animation: rotate 3s linear infinite both;
  animation: rotate 3s linear infinite both;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.modal__overlay {
  padding: 80px 40px 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  overflow: auto;
}

.modal__content {
  width: 100%;
  max-width: 1620px;
  margin: auto;
  position: relative;
  overflow: hidden;
  opacity: 0;
  -webkit-transform: translateY(30px);
  -ms-transform: translateY(30px);
  transform: translateY(30px);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.modal__close {
  padding: 0 4px;
  border: 2px solid rgba(255, 255, 255, 0.6);
  position: fixed;
  top: 80px;
  right: 50px;
  cursor: pointer;
  z-index: 1000;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.modal__close:hover {
  border-color: #fff;
}

.modal__close:hover svg {
  stroke: #fff;
}

.modal__close svg {
  stroke: rgba(255, 255, 255, 0.6);
  display: block;
  width: 42px;
  height: 42px;
  pointer-events: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.js-pageup {
  position: fixed;
  bottom: 80px;
  right: 50px;
  cursor: pointer;
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: translateY(10px);
  -ms-transform: translateY(10px);
  transform: translateY(10px);
}

.js-pageup.show {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.js-pageup:hover svg {
  stroke: #fff;
}

.js-pageup svg {
  stroke: rgba(255, 255, 255, 0.6);
  display: block;
  width: 54px;
  height: 54px;
  pointer-events: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.double-title {
  position: relative;
}

.popup-body {
  padding: 100px 0 80px;
}

.popup-req {
  overflow-y: auto;
}

.popup.success-popup {
  background: url(../img/svg/success-bg.svg) center/cover no-repeat, #fff;
  text-align: center;
  text-transform: uppercase;
  -webkit-transform: translateY(30px);
  -ms-transform: translateY(30px);
  transform: translateY(30px);
}

.popup.success-popup.active {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.popup.success-popup .popup-body {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.popup.success-popup p {
  font-size: 44px;
  font-weight: 600;
  margin: 32px 0;
}

.stories {
  margin-top: 180px;
  overflow: hidden;
}

.stories .swiper {
  overflow: visible;
}

.stories .swiper-slide {
  padding: 1px;
}

.item-story {
  padding: 12px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.item-story .media-cover {
  padding-top: 135.6125%;
  -webkit-mask-image: url(../img/pages/stories/story-bg.svg);
  mask-image: url(../img/pages/stories/story-bg.svg);
  -webkit-mask-size: 100%;
  mask-size: 100%;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

.item-story.seen .item-story__bg-path {
  stroke: #E8E8E8;
}

.item-story__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.item-story__bg-path {
  stroke-width: 6;
}

.item-story__content {
  padding: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 2;
}

.item-story__content h4 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item-story__mod {
  display: none;
}

.item-story__swiper {
  position: relative;
}

.story-modal .modal__overlay {
  background: rgba(0, 0, 0, 0.9);
  -webkit-backdrop-filter: blur(0);
  backdrop-filter: blur(0);
  overflow: hidden;
}

.story-modal .modal__content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: static;
}

.story-modal .modal__inner {
  margin: auto;
  position: relative;
}

.story-modal .modal__top {
  padding-top: 16px;
  text-align: right;
}

.story-modal .modal__close {
  width: 40px;
  height: 40px;
  padding: 4px;
  top: 32px;
  right: 16px;
  border: 0;
  background: #000;
}

.story-modal .modal__close svg {
  width: 100%;
  height: 100%;
}

.story-modal .media-cover {
  background: url(../img/icons/loading-icon.svg) center/32px 32px no-repeat, #000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.story-modal .nav-btn {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 50%;
  z-index: 1;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.story-modal .nav-btn svg {
  fill: #fff;
  width: 100%;
  empty-cells: 100%;
}

.story-modal .nav-btn.swiper-button-disabled {
  opacity: 0.5;
  pointer-events: none;
}

.story-modal .nav-btn--prev {
  left: -24px;
  -webkit-transform: translate(-100%, -50%);
  -ms-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
}

.story-modal .nav-btn--next {
  right: -24px;
  -webkit-transform: translate(100%, -50%);
  -ms-transform: translate(100%, -50%);
  transform: translate(100%, -50%);
}

.story-modal__item {
  height: 100%;
  padding: 16px;
  margin: auto;
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.story-modal__progress {
  width: calc(100% + 10px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -5px auto;
}

.story-modal__progress-bar {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  height: 2px;
  background: #969898;
  border-radius: 0;
  margin: 0 5px;
  position: relative;
  opacity: 1;
  margin-bottom: 16px;
}

.story-modal__progress-bar.seen span {
  width: 100%;
}

.story-modal__progress-bar span {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: #fff;
  -webkit-transition-duration: 1.5s;
  transition-duration: 1.5s;
}

.story-modal__content .page-txt {
  margin-bottom: 16px;
}

.stories-p {
  margin-top: 60px !important;
}

.stories-p__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

.story-form {
  width: 100%;
  max-height: 100%;
  padding: 13px 56px 13px 16px;
  border-radius: 8px;
  background: rgba(71, 71, 71, 0.6980392157);
  position: relative;
  overflow: hidden;
}

.story-form textarea::-webkit-input-placeholder {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
}

.story-form textarea::-moz-placeholder {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
}

.story-form textarea:-ms-input-placeholder {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
}

.story-form textarea::-ms-input-placeholder {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
}

.story-form textarea,
.story-form textarea::placeholder {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
}

.story-form textarea {
  display: block;
  height: 24px;
  max-height: 100%;
  resize: vertical;
  overflow: auto;
}

.story-form textarea::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
}

.story-form.btn-show .story-form__btn {
  display: block;
}

.story-form__btn {
  display: none;
  width: 40px;
  height: 40px;
  padding: 11px;
  border-radius: 4px;
  background: rgba(71, 71, 71, 0.6980392157);
  position: absolute;
  bottom: 5px;
  right: 8px;
}

.story-form__btn svg {
  fill: #fff;
  width: 100%;
  height: 100%;
}

.clients-intro__row {
  display: grid;
  grid-template-columns: 1fr 0.75fr;
  gap: 40px 30px;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
}

.clients-intro__img {
  grid-area: 1/2/3/3;
}

.clients-intro h1 {
  -ms-flex-item-align: end;
  align-self: end;
}

.clients-intro .page-content {
  max-width: 787px;
  -ms-flex-item-align: start;
  align-self: start;
}

.clients-services .title-h2 {
  margin-bottom: 20px;
}

.clients-services__integrations {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.clients-services__dev {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.clients-services__dev .item-dev:nth-child(3) {
  grid-column: 1/3;
  padding-right: 400px;
  background: url(../img/robot.webp) bottom -30px right -140px/686px auto no-repeat, #fff;
}

.clients-services__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -10px 120px;
}

.clients-services__btns .primary-btn {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 10px;
}

.clients-services__btns .primary-btn svg {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-left: 10px;
}

.item-dev {
  padding: 40px 50px;
  border-radius: 40px;
  border: 3px solid black;
  background: white;
}

.item-dev h4 {
  margin-bottom: 20px;
}

.item-dev h4 span {
  text-transform: none;
  display: block;
  margin-top: 20px;
}

.item-dev .btn {
  margin-top: 40px;
}

.item-integration {
  padding: 29px;
  border: 3px solid black;
  word-break: break-word;
}

.item-integration h4,
.item-integration p {
  margin-bottom: 20px;
}

.item-integration p {
  font-weight: 500;
}

.item-integration.card-anim {
  cursor: pointer;
}

.item-integration.card-anim:before {
  -webkit-clip-path: inset(0 0 0 0);
  clip-path: inset(0 0 0 0);
}

.item-integration.card-anim:hover:before {
  -webkit-clip-path: inset(100% 0 0 0);
  clip-path: inset(100% 0 0 0);
}

.item-integration.card-anim .link-btn span::before {
  opacity: 1;
}

.item-integration.card-anim .link-btn svg {
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
  margin-left: 20px;
}

.item-integration__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: -10px;
}

.item-integration__items img {
  margin: 10px;
}

.work-principles .title-h2 {
  margin-bottom: 20px;
}

.work-principles ul {
  padding: 0;
  margin: 0;
}

.work-principles li {
  font-size: 26px;
  font-weight: 500;
  line-height: 1.2;
  padding: 30px 0;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

.work-principles li:nth-child(2) {
  padding-right: 250px;
  position: relative;
}

.work-principles li:nth-child(2):before,
.work-principles li:nth-child(2):after {
  content: "";
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  opacity: 0;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.work-principles li:nth-child(2):before {
  width: 110px;
  height: 110px;
  background-image: url(../img/pages/clients/telegram-icon.svg);
  right: 230px;
  top: 40px;
}

.work-principles li:nth-child(2):after {
  width: 90px;
  height: 90px;
  background-image: url(../img/pages/clients/task-icon.svg);
  right: 120px;
  top: -45px;
}

.work-principles li:nth-child(2):hover::before,
.work-principles li:nth-child(2):hover::after {
  -webkit-animation: jump 0.5s linear;
  animation: jump 0.5s linear;
  opacity: 1;
}

@-webkit-keyframes jump {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  25% {
    -webkit-transform: rotate(7deg);
    transform: rotate(7deg);
  }

  50% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  75% {
    -webkit-transform: rotate(-7deg);
    transform: rotate(-7deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@keyframes jump {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  25% {
    -webkit-transform: rotate(7deg);
    transform: rotate(7deg);
  }

  50% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  75% {
    -webkit-transform: rotate(-7deg);
    transform: rotate(-7deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

.our-clients__top {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin-bottom: 80px;
}

.our-clients__sec {
  margin-bottom: 80px;
}

.our-clients__sec:last-child {
  margin-bottom: 0;
}

.our-clients__content {
  max-width: 733px;
  grid-column: 2/3;
}

.our-clients__content h3,
.our-clients__content .page-content {
  margin-bottom: 30px;
}

.our-clients__preview {
  border: 3px solid black;
}

.our-clients__preview img {
  width: 100%;
}

.sv-matter {
  position: relative;
  height: 500px;
  overflow: hidden;
}

.sv-matter canvas {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  border-radius: 77px;
}

.sv-matter__btn {
  color: #000;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 30px;
  border-radius: 20px;
  border: 3px solid #000;
  position: absolute;
  pointer-events: none;
  top: -101%;
}

.sv-matter__btn--color1 {
  background: #ffe457;
}

.sv-matter__btn--color2 {
  color: #fff;
  background: #000;
}

.sv-matter__btn--color3 {
  background: #fff;
}

@media (min-width: 768.98px) {
  .story-modal .modal__close {
    width: 60px;
    height: 60px;
    padding: 5px;
    position: relative;
    top: 0;
    right: 0;
  }
}

@media (min-width: 1450px) {
  .stories .swiper .item-story {
    padding: 10px;
  }

  .stories .swiper .item-story__content h4 {
    font-size: 18px;
  }
}

@media (min-width: 1700px) {
  .stories .swiper .item-story__content h4 {
    font-size: 20px;
    font-weight: 500;
  }
}

@media (max-width: 1830px) {
  .modal .btn-main {
    bottom: 40px;
  }

  .modal__overlay {
    padding: 80px 20px 20px;
  }

  .modal__close {
    top: 20px;
    right: 20px;
    background: #000;
    padding: 2px;
  }

  .js-pageup {
    right: 20px;
    bottom: 40px;
    background: #000;
    padding: 2px;
    border-radius: 50%;
  }
}

@media (max-width: 1700px) {
  .marquee img {
    height: 110px;
    max-width: none;
  }

  .h3 {
    font-size: 30px;
  }

  .h4 {
    font-size: 24px;
  }

  .page-content h4,
  .page-content h5,
  .page-content p,
  .page-content li {
    font-size: 24px;
  }

  .btn {
    font-size: 30px;
  }

  .item-story__content h4 {
    font-size: 24px;
  }

  .stories-p__items {
    gap: 40px 20px;
  }

  .clients-intro__row {
    grid-template-columns: 1fr 0.56fr;
    gap: 60px 30px;
  }

  .clients-services__dev .item-dev:nth-child(3) {
    background-position: bottom -30px right -160px;
  }

  .clients-services__btns {
    margin-bottom: 80px;
  }

  .item-integration.card-anim .link-btn {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .item-integration.card-anim .link-btn svg {
    margin: 32px 0 0;
  }

  .work-principles li:nth-child(2):before {
    right: 145px;
    top: 35px;
  }

  .work-principles li:nth-child(2):after {
    right: 50px;
    top: -40px;
  }

  .work-principles li {
    font-size: 24px;
  }

  .our-clients__sec,
  .our-clients__top {
    margin-bottom: 60px;
  }
}

@media (max-width: 1450px) {
  .h3 {
    font-size: 26px;
  }

  .h4 {
    font-size: 22px;
  }

  .item-form [data-error] {
    font-size: 16px;
  }

  .primary-block {
    padding: 60px 0;
  }

  .page-content h4,
  .page-content h5,
  .page-content p,
  .page-content li {
    font-size: 22px;
  }

  .btn {
    font-size: 26px;
  }

  .btn svg {
    margin-left: 20px;
  }

  .item-story {
    padding: 10px;
  }

  .item-story__content {
    padding: 30px 24px;
  }

  .item-story__content h4 {
    font-size: 19px;
  }

  .story-modal .nav-btn {
    width: 40px;
    height: 40px;
  }

  .clients-intro__row {
    grid-template-columns: 1fr 0.66fr;
  }

  .clients-services__dev .item-dev:nth-child(3) {
    background-size: 580px auto;
    background-position: bottom 10px right -140px;
  }

  .clients-services__btns {
    margin-bottom: 60px;
  }

  .item-dev {
    padding: 32px;
  }

  .item-dev .btn {
    margin-top: 60px;
  }

  .item-dev__content {
    max-width: 688px;
  }

  .work-principles li:nth-child(2) {
    padding-right: 200px;
  }

  .work-principles li:nth-child(2):before {
    width: 85px;
    height: 85px;
    right: 120px;
    top: 50px;
  }

  .work-principles li:nth-child(2):after {
    width: 67px;
    height: 67px;
    right: 43px;
    top: -15px;
  }

  .work-principles li {
    font-size: 22px;
  }

  .our-clients__top {
    grid-template-columns: 1fr;
    gap: 60px;
  }

  .our-clients__content {
    grid-column: 1/2;
  }

  .our-clients__content h3,
  .our-clients__content .page-content {
    margin-bottom: 20px;
  }

  .our-clients__content .page-content {
    max-width: 690px;
  }
}

@media (max-width: 1250px) {
  .btn {
    font-size: 24px;
  }

  .story-modal .nav-btn {
    display: none;
  }

  .stories-p__items {
    grid-template-columns: repeat(3, 1fr);
  }

  .clients-intro__row {
    gap: 20px;
  }

  .clients-services__integrations {
    grid-template-columns: 1fr 1fr;
  }

  .clients-services__btns {
    display: block;
    margin: 0 0 40px;
  }

  .clients-services__btns .primary-btn {
    width: 100%;
    min-height: 90px;
    margin: 0 0 20px;
  }

  .clients-services__btns .primary-btn:last-child {
    margin-bottom: 0;
  }

  .work-principles li:nth-child(2) {
    padding-right: 0;
  }

  .work-principles li:nth-child(2):before,
  .work-principles li:nth-child(2):after {
    content: none;
  }

  .sv-matter {
    height: 540px;
  }
}

@media (max-width: 960px) {
  .header__content {
    height: 84px;
  }

  .footer {
    padding-top: 720px;
  }

  .h3 {
    font-size: 24px;
  }

  .h4 {
    font-size: 20px;
  }

  .sec-border,
  .primary-block {
    padding: 40px 0;
  }

  .page-content h4,
  .page-content h5,
  .page-content p,
  .page-content li {
    font-size: 20px;
  }

  .btn svg {
    width: 26px;
    height: 29px;
  }

  .stories {
    margin-top: 140px;
  }

  .item-story__content h4 {
    font-size: 16px;
  }

  .item-story {
    padding: 8px;
  }

  .clients-intro .page-content {
    max-width: 587px;
  }

  .clients-intro__row {
    grid-template-columns: 1fr;
  }

  .clients-intro__img {
    max-width: 496px;
    grid-area: 2/1/3/2;
    margin: 0 auto;
  }

  .clients-services__dev {
    grid-template-columns: 1fr;
  }

  .clients-services__dev .item-dev:nth-child(3) {
    grid-column: 1/2;
    padding: 40px 40px 275px;
    background-size: auto 313px;
    background-position: bottom -80px right -80px;
  }

  .clients-services .sec-border {
    position: relative;
  }

  .clients-services .sec-border:nth-child(2),
  .clients-services .sec-border:nth-child(3) {
    background: white;
    position: relative;
  }

  .clients-services .sec-border:nth-child(2):before,
  .clients-services .sec-border:nth-child(3):before {
    content: "";
    display: block;
    width: calc(100% + 6px);
    height: 80px;
    background: white;
    position: absolute;
    top: -40px;
    left: -3px;
    border-left: 3px solid black;
    border-right: 3px solid black;
    pointer-events: none;
  }

  .clients-services .sec-border:nth-child(1) {
    position: relative;
    z-index: 2;
  }

  .clients-services .sec-border:nth-child(2) {
    position: relative;
    z-index: 1;
  }

  .work-principles li {
    font-size: 20px;
  }

  .work-principles li {
    padding: 20px 0;
  }

  .our-clients__sec,
  .our-clients__top {
    margin-bottom: 40px;
  }

  .our-clients__top {
    gap: 40px;
  }

  .sv-matter {
    height: 800px;
  }

  .sv-matter canvas {
    pointer-events: none !important;
  }
}

@media (max-width: 768px) {
  .item-form input::-webkit-input-placeholder,
  .item-form textarea::-webkit-input-placeholder {
    font-size: 26px;
  }

  .item-form input::-moz-placeholder,
  .item-form textarea::-moz-placeholder {
    font-size: 26px;
  }

  .item-form input:-ms-input-placeholder,
  .item-form textarea:-ms-input-placeholder {
    font-size: 26px;
  }

  .item-form input::-ms-input-placeholder,
  .item-form textarea::-ms-input-placeholder {
    font-size: 26px;
  }

  .item-form input,
  .item-form textarea,
  .item-form input::placeholder,
  .item-form textarea::placeholder {
    font-size: 26px;
  }

  .modal .case-cards {
    padding-top: 120px;
  }

  .double-title svg {
    width: auto;
    height: 78px;
  }

  .popup.success-popup p {
    font-size: 32px;
    margin: 23px 0;
  }

  .stories {
    margin-top: 160px;
  }

  .story-modal .modal__overlay {
    padding: 0;
  }
}

@media (max-width: 639px) {
  .marquee img {
    height: calc(54px + 46 * (100vw - 320px) / 320);
  }

  .footer {
    padding-top: clamp(620px, 620px + 100 * (100vw - 320px) / 320, 720px);
  }

  .h3 {
    font-size: clamp(18px, 18px + 10 * (100vw - 320px) / 320, 24px);
  }

  .h4 {
    font-size: clamp(16px, 16px + 10 * (100vw - 320px) / 320, 20px);
  }

  .item-form [data-error] {
    font-size: 14px;
  }

  .item-form input::-webkit-input-placeholder,
  .item-form textarea::-webkit-input-placeholder {
    font-size: clamp(20px, 20px + 6 * (100vw - 320px) / 320, 26px);
  }

  .item-form input::-moz-placeholder,
  .item-form textarea::-moz-placeholder {
    font-size: clamp(20px, 20px + 6 * (100vw - 320px) / 320, 26px);
  }

  .item-form input:-ms-input-placeholder,
  .item-form textarea:-ms-input-placeholder {
    font-size: clamp(20px, 20px + 6 * (100vw - 320px) / 320, 26px);
  }

  .item-form input::-ms-input-placeholder,
  .item-form textarea::-ms-input-placeholder {
    font-size: clamp(20px, 20px + 6 * (100vw - 320px) / 320, 26px);
  }

  .item-form input,
  .item-form textarea,
  .item-form input::placeholder,
  .item-form textarea::placeholder {
    font-size: clamp(20px, 20px + 6 * (100vw - 320px) / 320, 26px);
  }

  .section {
    margin-bottom: 80px;
  }

  .sec-border,
  .primary-block {
    padding: 30px 0;
    border-radius: 20px;
  }

  .page-content h4,
  .page-content h5,
  .page-content p,
  .page-content li {
    font-size: clamp(16px, 16px + 10 * (100vw - 320px) / 320, 20px);
  }

  .page-content ul {
    padding-left: 26px;
  }

  .btn {
    font-size: clamp(18px, 18px + 10 * (100vw - 320px) / 320, 24px);
  }

  .btn svg {
    width: 23px;
    height: 26px;
  }

  .link-btn span::before {
    height: 2px;
    bottom: -2px;
  }

  .primary-btn {
    padding: 19px;
  }

  .case__header .case-text__disc a:after {
    background-size: 13px;
  }

  .case__header .case-text__disc {
    font-size: clamp(16px, 16px + 4 * (100vw - 320px) / 320, 20px);
  }

  .modal .case-cards {
    padding-top: 80px;
  }

  .modal__overlay {
    padding: 60px 10px 20px;
  }

  .modal__close {
    right: 10px;
    top: 10px;
    padding: 0 2px;
    border: 1px solid #fff;
  }

  .modal__close svg {
    width: 32px;
    height: 32px;
    stroke: #fff;
  }

  .js-pageup {
    right: 10px;
  }

  .js-pageup svg {
    width: 36px;
    height: 36px;
    stroke: #fff;
  }

  .double-title svg {
    height: 60px;
  }

  .popup.success-popup p {
    font-size: 24px;
    margin: 15px 0;
  }

  .stories {
    margin-top: 100px;
  }

  .clients-intro__img {
    max-width: 340px;
  }

  .clients-services__integrations {
    gap: 10px;
  }

  .clients-services__dev {
    gap: 10px;
  }

  .clients-services__dev .item-dev:nth-child(3) {
    padding: 17px 17px 155px;
    background-size: auto 203px;
    background-position: bottom -80px right -80px;
  }

  .clients-services__btns .primary-btn {
    padding: 10px;
    min-height: 70px;
  }

  .clients-services .sec-border:nth-child(2):before,
  .clients-services .sec-border:nth-child(3):before {
    height: 60px;
    top: -30px;
  }

  .clients-services__btns {
    margin-bottom: 30px;
  }

  .clients-services__btns .primary-btn {
    margin-bottom: 10px;
  }

  .item-dev {
    padding: 17px;
    border-radius: 30px;
  }

  .item-dev h4 {
    margin-bottom: 10px;
  }

  .item-dev .btn {
    width: 100%;
    margin-top: 30px;
  }

  .item-integration.card-anim .link-btn svg {
    margin: 20px 0 0;
  }

  .item-integration {
    padding: 7px;
  }

  .item-integration p.h4 {
    font-size: 16px;
  }

  .item-integration h4,
  .item-integration .btn {
    font-size: 18px;
  }

  .item-integration h4,
  .item-integration p {
    margin-bottom: 10px;
  }

  .item-integration__items {
    margin: -5px;
  }

  .item-integration__items img {
    margin: 5px;
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    -webkit-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
  }

  .work-principles li {
    font-size: clamp(16px, 16px + 10 * (100vw - 320px) / 320, 20px);
  }

  .our-clients__top {
    gap: 30px;
  }

  .our-clients__content h3,
  .our-clients__content .page-content {
    margin-bottom: 10px;
  }

  .sv-matter {
    height: 700px;
  }

  .sv-matter__btn {
    padding: 20px 30px;
  }
}

@media (max-width: 575px) {
  .stories-p__items {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px 15px;
  }
}

@media (max-width: 480px) {
  .item-story {
    padding: 5px;
  }

  .item-story__content {
    padding: 20px;
  }

  .item-story__content h4 {
    font-size: 10px;
  }
}

@media (max-width: 370px) {
  .clients-services__integrations {
    grid-template-columns: 1fr;
  }

  .item-integration.card-anim {
    min-height: 140px;
  }
}

@media (min-width: 1450px) and (max-width: 1700px) {
  .stories .swiper .item-story__content {
    padding: 30px 24px;
  }

  .our-clients .title-h2 {
    font-size: 40px;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .item-story {
    padding: 6px;
  }

  .item-story__content {
    padding: 20px 16px;
  }

  .item-story__content h4 {
    font-size: 13px;
  }
}

@media (min-width: 960px) and (max-width: 1450px) {
  .clients-intro .title-h1 {
    font-size: 44px;
  }

  .item-dev .page-content p,
  .item-dev .page-content li {
    font-size: 20px;
  }
}

@media (min-width: 1250px) and (max-width: 1450px) {
  .item-integration p.h4 {
    font-size: 20px;
  }
}

@media (pointer: coarse) {
  .sv-matter canvas {
    pointer-events: none !important;
  }
}