html,
body {
  scroll-behavior: smooth;
}

body {
  position: relative;
}

.footer {
  position: sticky;
  right: 0;
  padding-top: 580px;
  z-index: 1;
}

.page__inner {
  padding-bottom: 0 !important;
  position: relative;
  z-index: 10;
  background: #fff;
}

.page__inner::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  background: #FFE457;
}

.footer {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

video {
  display: block;
  width: 100%;
  max-width: 100%;
}

.case-example__new--vid {
  margin-bottom: -1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
}

.case-example__new--vid video {
  z-index: 1;
}

.case-example__new--vid::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background: url("../img/pages/case/loading-icon.svg") no-repeat;
  background-size: 20px;
  -webkit-animation: rotateInf 2s infinite linear;
  animation: rotateInf 2s infinite linear;
  z-index: 0;
}

.works-card__img img {
  -webkit-transition: 0.6s ease-out;
  -o-transition: 0.6s ease-out;
  transition: 0.6s ease-out;
}

.works-card__img:hover img {
  -webkit-transition: 0.6s ease-out;
  -o-transition: 0.6s ease-out;
  transition: 0.6s ease-out;
}

.case__header .case-text__disc {
  font-size: 20px;
}

.case__header .case-text__disc a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.case__header .case-text__disc a:hover::before {
  opacity: 1;
}

.case__header .case-text__disc a:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 2px;
  background: #fff;
  opacity: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.case__header .case-text__disc a:after {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  margin-left: 4px;
  background: url(../img/svg/more.svg) center/16px no-repeat;
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.image-lazy {
  width: 100%;
}

.image-lazy img {
  width: 100%;
}

.header__content {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 92px;
  -webkit-transition: padding 0s;
  -o-transition: padding 0s;
  transition: padding 0s;
}

.case__header {
  margin-top: 0;
}

.case__content > .case-text {
  margin-top: 0;
}

.modal {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  overflow: hidden;
  -webkit-transition: all 0.3s 0.1s ease-out;
  -o-transition: all 0.3s 0.1s ease-out;
  transition: all 0.3s 0.1s ease-out;
}

.modal.open {
  visibility: visible;
  opacity: 1;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.modal.open .modal__content {
  opacity: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: all 0.3s 0.1s ease-out;
  -o-transition: all 0.3s 0.1s ease-out;
  transition: all 0.3s 0.1s ease-out;
}

.modal .btn-main {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  bottom: 80px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 1000;
}

.modal .case__body {
  background-color: #fff;
}

.modal .case-cards {
  padding-top: 160px;
  margin-top: -1px;
  padding-bottom: 120px;
}

.modal .case__header .title-h1,
.modal .case__header .case-text__disc {
  color: #fff;
}

.modal-loading-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.modal-loading-icon svg {
  fill: #fff;
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  -webkit-animation: rotate 3s linear infinite both;
  animation: rotate 3s linear infinite both;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.modal__overlay {
  padding: 80px 40px 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  overflow: auto;
}

.modal__content {
  width: 100%;
  max-width: 1620px;
  margin: auto;
  position: relative;
  overflow: hidden;
  opacity: 0;
  -webkit-transform: translateY(30px);
  -ms-transform: translateY(30px);
  transform: translateY(30px);
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.modal__close {
  padding: 0 4px;
  border: 2px solid rgba(255, 255, 255, 0.6);
  position: fixed;
  top: 80px;
  right: 50px;
  cursor: pointer;
  z-index: 1000;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.modal__close:hover {
  border-color: #fff;
}

.modal__close:hover svg {
  stroke: #fff;
}

.modal__close svg {
  stroke: rgba(255, 255, 255, 0.6);
  display: block;
  width: 42px;
  height: 42px;
  pointer-events: none;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.js-pageup {
  position: fixed;
  bottom: 80px;
  right: 50px;
  cursor: pointer;
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: translateY(10px);
  -ms-transform: translateY(10px);
  transform: translateY(10px);
}

.js-pageup.show {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.js-pageup:hover svg {
  stroke: #fff;
}

.js-pageup svg {
  stroke: rgba(255, 255, 255, 0.6);
  display: block;
  width: 54px;
  height: 54px;
  pointer-events: none;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.double-title {
  position: relative;
}

.popup-body {
  padding: 100px 0 80px;
}

.popup-req {
  overflow-y: auto;
}

.popup.success-popup {
  background: url(../img/svg/success-bg.svg) center/cover no-repeat, #fff;
  text-align: center;
  text-transform: uppercase;
  -webkit-transform: translateY(30px);
  -ms-transform: translateY(30px);
  transform: translateY(30px);
}

.popup.success-popup.active {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.popup.success-popup .popup-body {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.popup.success-popup p {
  font-size: 44px;
  font-weight: 600;
  margin: 32px 0;
}

.page__inner--log:after {
  content: none;
}

.header__body {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header--log .header__content {
  background: transparent;
}

.header__logOut {
  font-size: 26px;
  font-weight: 600;
}

.log-footer {
  padding-bottom: 40px;
}

.page-txt {
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
}

.card-anim {
  position: relative;
  z-index: 1;
}

.card-anim:hover:before {
  -webkit-clip-path: inset(0 0 0 0);
  clip-path: inset(0 0 0 0);
}

.card-anim::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  -webkit-clip-path: inset(100% 0 0 0);
  clip-path: inset(100% 0 0 0);
  background: #ffe457;
  -webkit-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
}

.item-form {
  margin-bottom: 24px;
}

.item-form [data-error] {
  font-size: 20px;
  font-weight: 500;
  color: #D61616;
  margin-top: 5px;
}

.item-form [data-error]:empty {
  display: none;
}

.item-form input,
.item-form textarea {
  color: #000000;
  width: 100%;
  padding: 10px 0;
  border: none;
}

.item-form input {
  border-bottom: 2px solid #000000;
}

.item-form input::-webkit-input-placeholder,
.item-form textarea::-webkit-input-placeholder {
  font-weight: 600;
  font-size: 30px;
  line-height: 130%;
  color: #000000;
}

.item-form input::-moz-placeholder,
.item-form textarea::-moz-placeholder {
  font-weight: 600;
  font-size: 30px;
  line-height: 130%;
  color: #000000;
}

.item-form input:-ms-input-placeholder,
.item-form textarea:-ms-input-placeholder {
  font-weight: 600;
  font-size: 30px;
  line-height: 130%;
  color: #000000;
}

.item-form input::-ms-input-placeholder,
.item-form textarea::-ms-input-placeholder {
  font-weight: 600;
  font-size: 30px;
  line-height: 130%;
  color: #000000;
}

.item-form input,
.item-form textarea,
.item-form input::placeholder,
.item-form textarea::placeholder {
  font-weight: 600;
  font-size: 30px;
  line-height: 130%;
  color: #000000;
}

.item-form input::-webkit-input-placeholder,
.item-form textarea::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
}

.item-form input::-moz-placeholder,
.item-form textarea::-moz-placeholder {
  color: rgba(0, 0, 0, 0.4);
}

.item-form input:-ms-input-placeholder,
.item-form textarea:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
}

.item-form input::-ms-input-placeholder,
.item-form textarea::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
}

.item-form input::placeholder,
.item-form textarea::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

.item-form--password {
  position: relative;
}

.item-form--password.show-eyeBtn .item-form__eye {
  visibility: visible;
  opacity: 1;
}

.item-form--password.show-password .item-form__eye {
  background-image: url(../img/icons/eye.svg);
}

.item-form__eye {
  width: 38px;
  height: 30px;
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 0px;
  background: url(../img/icons/eye-slash.svg) center/contain no-repeat;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.section {
  margin-bottom: 180px;
}

.sec-top {
  margin-bottom: 40px;
}

.sec-top p {
  max-width: 547px;
  margin-top: 24px;
}

.form__footer {
  margin-top: 60px;
}

.form__footer .btn-main {
  width: 100%;
}

.form__footer .btn-main .btn-reset {
  width: 100%;
}

.info-log p {
  margin-bottom: 20px;
  text-align: center;
}

.info-log__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: -20px;
}

.info-log__contacts a,
.info-log__contacts span {
  font-weight: 500;
  font-size: 25px;
  line-height: 150%;
  color: #000000;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  position: relative;
  margin: 20px;
}

.info-log__contacts a:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 2px;
  background: #000000;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.info-log__contacts a:hover::after {
  opacity: 1;
  visibility: visible;
}

.no-webp .log-p {
  background: url(../img/pages/login-bg.jpg) center/cover no-repeat;
}

.log-p {
  min-height: 100vh;
  padding: 120px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.log-p .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.log-p .title-h1 {
  margin-bottom: 40px;
}

.log-p .form {
  margin-bottom: 60px;
}

.log-p--forbidden .title-h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.log-p--forbidden .title-h1:before {
  content: "";
  display: block;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 60px;
  flex: 0 0 60px;
  width: 60px;
  height: 60px;
  background: url(../img/icons/error-icon.svg) center/contain no-repeat;
  margin-right: 20px;
}

.log-p--forbidden .info-log p {
  text-align: left;
  max-width: 100%;
}

.log-p__inner {
  width: 100%;
  max-width: 1200px;
  padding: 80px 60px;
  background: #fff;
}

.log-p__block {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.item-doc {
  padding: 24px 30px;
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 20px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 4px solid #000;
  margin-bottom: 24px;
}

.item-doc:last-child {
  margin-bottom: 0;
}

.item-doc h5 {
  max-width: 700px;
}

.item-doc__action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.item-doc__action span {
  font-size: 26px;
  font-weight: 600;
}

.item-doc__action img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 40px;
  flex: 0 0 40px;
  width: 40px;
  height: 40px;
  -o-object-fit: contain;
  object-fit: contain;
  margin-left: 20px;
}

.log-p {
  background: url(../img/pages/login-bg.webp) center/cover no-repeat;
}

@media (max-width: 1830px) {
  .modal .btn-main {
    bottom: 40px;
  }

  .modal__overlay {
    padding: 80px 20px 20px;
  }

  .modal__close {
    top: 20px;
    right: 20px;
    background: #000;
    padding: 2px;
  }

  .js-pageup {
    right: 20px;
    bottom: 40px;
    background: #000;
    padding: 2px;
    border-radius: 50%;
  }
}

@media (max-width: 1450px) {
  .item-form [data-error] {
    font-size: 16px;
  }

  .info-log__contacts {
    margin: -10px;
  }

  .info-log__contacts a,
  .info-log__contacts span {
    font-size: 16px;
    margin: 10px;
  }

  .log-p__inner {
    max-width: 1000px;
  }

  .log-p__block {
    max-width: 700px;
  }
}

@media (max-width: 1250px) {
  .log-p {
    padding: 84px 0;
  }

  .log-p__inner {
    max-width: 780px;
    padding: 60px 40px;
  }

  .item-doc {
    padding: 20px;
    margin-bottom: 10px;
  }

  .item-doc h5 {
    max-width: 500px;
  }

  .item-doc__action span {
    font-size: 20px;
  }

  .item-doc__action img {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 24px;
    flex: 0 0 24px;
    width: 24px;
    height: 24px;
    margin-left: 10px;
  }
}

@media (max-width: 992px) {
  .info-log p {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }

  .log-p--forbidden .title-h1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
  }

  .log-p--forbidden .title-h1:before {
    margin: 0 0 20px;
  }
}

@media (max-width: 960px) {
  .footer {
    padding-top: 720px;
  }

  .header__content {
    height: 84px;
  }
}

@media (max-width: 768px) {
  .modal .case-cards {
    padding-top: 120px;
  }

  .double-title svg {
    width: auto;
    height: 78px;
  }

  .popup.success-popup p {
    font-size: 32px;
    margin: 23px 0;
  }

  .item-form input::-webkit-input-placeholder,
  .item-form textarea::-webkit-input-placeholder {
    font-size: 26px;
  }

  .item-form input::-moz-placeholder,
  .item-form textarea::-moz-placeholder {
    font-size: 26px;
  }

  .item-form input:-ms-input-placeholder,
  .item-form textarea:-ms-input-placeholder {
    font-size: 26px;
  }

  .item-form input::-ms-input-placeholder,
  .item-form textarea::-ms-input-placeholder {
    font-size: 26px;
  }

  .item-form input,
  .item-form textarea,
  .item-form input::placeholder,
  .item-form textarea::placeholder {
    font-size: 26px;
  }

  .section {
    margin-bottom: 120px;
  }

  .log-p--forbidden .title-h1:before {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50px;
    flex: 0 0 50px;
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 767px) {
  .log-p__inner {
    padding: 30px 20px;
  }
}

@media (max-width: 639px) {
  .footer {
    padding-top: clamp(620px, 620px + 100 * (100vw - 320px) / 320, 720px);
  }

  .case__header .case-text__disc a:after {
    background-size: 13px;
  }

  .case__header .case-text__disc {
    font-size: clamp(16px, 16px + 4 * (100vw - 320px) / 320, 20px);
  }

  .modal .case-cards {
    padding-top: 80px;
  }

  .modal__overlay {
    padding: 60px 10px 20px;
  }

  .modal__close {
    right: 10px;
    top: 10px;
    padding: 0 2px;
    border: 1px solid #fff;
  }

  .modal__close svg {
    width: 32px;
    height: 32px;
    stroke: #fff;
  }

  .js-pageup {
    right: 10px;
  }

  .js-pageup svg {
    width: 36px;
    height: 36px;
    stroke: #fff;
  }

  .double-title svg {
    height: 60px;
  }

  .popup.success-popup p {
    font-size: 24px;
    margin: 15px 0;
  }

  .header__logOut {
    font-size: clamp(16px, 16px + 10 * (100vw - 320px) / 320, 26px);
  }

  .page-txt {
    font-size: clamp(16px, 16px + 4 * (100vw - 320px) / 320, 20px);
  }

  .item-form [data-error] {
    font-size: 14px;
  }

  .item-form input::-webkit-input-placeholder,
  .item-form textarea::-webkit-input-placeholder {
    font-size: clamp(20px, 20px + 6 * (100vw - 320px) / 320, 26px);
  }

  .item-form input::-moz-placeholder,
  .item-form textarea::-moz-placeholder {
    font-size: clamp(20px, 20px + 6 * (100vw - 320px) / 320, 26px);
  }

  .item-form input:-ms-input-placeholder,
  .item-form textarea:-ms-input-placeholder {
    font-size: clamp(20px, 20px + 6 * (100vw - 320px) / 320, 26px);
  }

  .item-form input::-ms-input-placeholder,
  .item-form textarea::-ms-input-placeholder {
    font-size: clamp(20px, 20px + 6 * (100vw - 320px) / 320, 26px);
  }

  .item-form input,
  .item-form textarea,
  .item-form input::placeholder,
  .item-form textarea::placeholder {
    font-size: clamp(20px, 20px + 6 * (100vw - 320px) / 320, 26px);
  }

  .section {
    margin-bottom: 80px;
  }

  .log-p {
    min-height: calc(100vh - 55px);
  }

  .item-doc {
    padding: 10px;
    grid-template-columns: 1fr;
  }

  .item-doc__action span {
    font-size: clamp(16px, 16px + 10 * (100vw - 320px) / 320, 20px);
  }

  .item-doc__action img {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20px;
    flex: 0 0 20px;
    width: 20px;
    height: 20px;
  }
}

@media (max-width: 480px) {
  .info-log__contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}